.input {
    border: 2px solid lightgreen;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;
    font-size: 25px;
    width: 80%;
    flex-grow: 1;
    

}:focus{
    border: 3px solid lightgreen;
}

   



.checkAll {
    background-color: rgb(247, 112, 112);
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }