.Input {
    border: 2px solid lightgreen;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;

}:focus{
    border: 3px solid lightgreen;
}
.Button {
    background-color: paleturquoise;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 5px;
    

}
