  .DivItem {
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
    align-items: center;
    align-content: flex-end;

}  

.Delete {
    background-color: rgb(247, 112, 112);
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 28px;
    height: 28px;
   
    
   
    
    

}

.DivCheck{
    margin-right: 10px;
}

.Uncheck {
    background-color: lightgrey;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    width: 28px;
    height: 28px;
    
   
   

}
.Check {
    background-color: lightgreen;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 28px;
    height: 28px;
    
    

}


.Action {
    font-size: 20px;
    text-align: left;
    white-space: normal;
    overflow: auto;
    padding-right: 10px;
    flex: 1;
    display: block;
    word-wrap: break-word;
}